<nav class="white">
    <div class="nav-wrapper container">
        <a href="/">Logo</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="dash" href="/">Home</a></li>  
          <li><a class="dash" href="/about">About</a></li>
          <li><a class="dash" href="Recipes.html">Recipes</a></li>
          <li><a class="dash" href="/profile">My Profile</a></li>
        </ul>
    </div>    
</nav>

{{!-- <nav class="indigo">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Flavors101</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </div>
</nav> --}}

{{!-- <a class="dash" href="beef.html">Surprise Me!</a>  --}}