<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
        <script src="https://kit.fontawesome.com/38d688374b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {{> nav }}
        <section class="start" id="home">
            <div class="recipe"><br>
                <h1> Flavours <span>101</span> </h1>
                <pre> 
                    Flavours 101 started with recipes passed down from our grandparents, it was founded in 2020.
                    They passed on the recipes from one generation to another until one day, 
                    they realized that the recipes were building up and it was hard to maintain.
                    We have a background in creating our own website, initially we thought of creating a website 
                    just to store every recipe that they have. As time went by, an idea of creating a space
                    where others can share thier love for baking and cooking emerged. We wanted this website
                    to be a place to share recipes and also learn new ones! That is why now Flavours 101 is alive. 
                    
                    Flavours 101's goal is to provide you the best quality recipes and would allow everyone
                    to have a platform in sharing their own recipes at home.
                </pre>

                <center><img id="abt" src="images/abt.jpg" /></center>
                <pre> Enjoy using our website! <i class="fas fa-heart" style="color: red;"></i></pre>
                <br><br><br>
            </div>  
        </section>
    </body>
</html>