<html> 
  <head>
    <link rel="stylesheet" href="../public/css/reg.css">
  </head>
  
  <body>
    <div class="box">  
      <div class = "image">
          <img src = "../public/LOGO.PNG" width = "300" height = "200"/>
      </div>
    
      <form  action="/login" method="POST" enctype="multipart/form-data">
        {{> messages}}
        <div class="inputs">
          <input placeholder="Username" type="text" id="username" name="username" />
        </div>

        <div class="inputs">
          <input placeholder="Password" type="password" id="password" name="password" />
        </div>

        <div class="inputs">
          <button class="submit type=submit" value="Login">Login</button>
        </div>

        <div class="inputs">
          <p id="small-p">Don't have an account? <a id="signup_link" href="/register">Sign up</a> here!</p>
        </div>
      </form>
    </div>
  </body>
</html>
