<html>
  <head>
    <link rel="stylesheet" href="../public/css/reg.css">
  </head>
    
  <body>
    <div id="register" class="container">
      <br><br>
      <div class="box">
          
        <div class = "image">
          <img src = "/public/LOGO.PNG" width = "300" height = "200"/>
        </div>
        
        <form action="/register" method="POST" enctype="multipart/form-data">
          {{> messages}} 

          <div class="inputs">
            <input placeholder="Username*" type="text" id="username" name="username">
          </div>

          <div class="inputs">
            <input placeholder="Password*" type="password" id="password" name="password">
          </div>

          <div class="inputs">
            <input placeholder="Confirm Password*" type="password" id="confirmPass" name="confirmPass">
          </div>

          <label id="lbl" for="avatar">Avatar*</label>
          <input type="file" id="avatar" name="avatar" />

          <div class="inputs">
            <input placeholder="Short description..." type="text" id="description" name="description">
            <p id="fineprint">* Required</p>
          </div>

          <div class="inputs">
            <button class="submit" type="submit" value="Sign up">Sign Up</button>
          </div>

          <div class="inputs">
            <p id="small-p">Already have an account?<a id="signup_link" href="/login">Login</a>.</p>
          </div>  
        </form>
      </div>
    </div>
  </body>
</html>