<html>
    <head>
        
        <title>Create a Recipe</title>
        <link rel="stylesheet" href="../public/css/add_style.css">
        
    </head>

    <body>
        {{> nav }}
        <div class = 'center'>
            <h4> Create a Recipe</h4><br>
            <form action = "/submit-recipe" encType="multipart/form-data" method = "POST">
                {{!-- TITLE --}}
                {{!-- <label for ="title" class = "form-label">Title:</label> --}}
                <h5>Title:</h5>
                <textarea type = "text" name = "title" id = "title" class ="txt" placeholder = "Add a Title here" required></textarea>
                <br>

                {{!-- DESCRIPTION --}}
                <h5>Description:</h5>
                <textarea name = "description" id = "description" class = "txt" placeholder = "Add a Description here" required></textarea>
                <br>

                {{!-- IMAGE --}}
                <h5>Select an image: </h5>
                <input type = "file" name = "image" id = "image" class = "txt" placeholder = "Add an Image here" required/>

                {{!-- INGREDIENTS --}}
                <h5>Ingredients: </h5>
                <div class = "ingredientList">
                    <div class = "ingredientDiv">
                        <input type = "text" name = "ingredients" class ="txt" placeholder = "Add an Ingredient here" required/>
                    </div>
                </div>

                <button type = "button" class = "btn" id = "addIngredientsBtn" >+ Ingredient</button>
                <br><br><br>


                {{!-- PREPARATION --}}
                <h5>Preparation:</h5>
                <div class = "preparationList">
                    <div class = "preparationDiv">
                        <input type = "text" name = "preparation" class ="txt" placeholder = "Add a Preparation here" required/>
                    </div>
                </div>

                <button type = "button" class = "btn" id = "addPrepBtn" >+ Preparation</button>
                <br><br><br>

                {{!-- SUBMIT BUTTON --}}
                <input type = "submit" id = "post" value = "Submit Post">
            </form>
            
            {{!-- REMOVE --}}
            <p>To remove later :</p>
            <a href = "/">Home</a>

            <script>
                let addIngredientsBtn = document.getElementById('addIngredientsBtn');
                let ingredientList = document.querySelector('.ingredientList');
                let ingredientDiv = document.querySelectorAll('.ingredientDiv')[0];
                addIngredientsBtn.addEventListener('click', function()
                {
                    let newIngredients = ingredientDiv.cloneNode(true);
                    let input = newIngredients.getElementsByTagName('input')[0];
                    input.value = '';
                    ingredientList.appendChild(newIngredients);
                })
                let addPrepBtn = document.getElementById('addPrepBtn');
                let preparationList = document.querySelector('.preparationList');
                let preparationDiv = document.querySelectorAll('.preparationDiv')[0];
                addPrepBtn.addEventListener('click', function()
                {
                    let newPreparation = preparationDiv.cloneNode(true);
                    let inputP = newPreparation.getElementsByTagName('input')[0];
                    inputP.value = '';
                    preparationList.appendChild(newPreparation);
                })
        </script>

        </div>
    </body>

    
</html>