@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
#page {
  margin-top: 10px;
  background: #f9f3e3;
  background-repeat: no-repeat; 
  height: auto;
  justify-content: center;
}

*::selection
{
  background: coral;
  color: #fff;
}

hr
{
  border: 10px solid orangered;
  border-radius: 5px;
}

body {
  background: linear-gradient(120deg,#ffbc65, #fd9956);
}

#comments {
  margin-left: 100px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: 3px solid orange;
  border-radius: 5px;
  width:700;
  height: 150;
}

#btn {
  background-color:#fd9956;
  font-family: 'Montserrat', sans-serif;
  font-size: 15;
  font-weight: 300;
  border-radius: 4px;
  border: 1px dotted orange;
}

#btn_cmt {
  /* margin-left: 500px; */
  background-color:#fd9956;
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
  font-weight: 300;
  border-radius: 4px;
  border: 1px dotted orange;
}

#btn:hover, #btn_cmt:hover {
  background-color: seashell;
}
#comment{
  text-align: center;
}
#rate {
  font-size: 25px;
  /* margin-left: 500px; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#other_comments, #new {
  /* margin-left: 500px; */
  margin-bottom: 20px;
}

#com_link, #com_new_link {
  font-weight: bold;
  text-decoration: none;
  color: #666;
  font-size: 20px;
}

#com_link:hover, #com_new_link:hover {
  color: orangered;
}

#com_user, #my_com, #my_new_cmt, #cmt_user,new{
  font-size: 25px;
  color: #666;
  margin-left: 100;
}

#my_new_reply
{
  font-size: 25px;
  color: #666;
  margin-left: 100;
  text-indent: 50px;
}

.rate {
  margin-right: auto;
  text-align: center;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}