@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
*::selection {
    background: coral;
}

#page {
    background: #f9f3e3;
    background-repeat: no-repeat; 
    background-position: 1500 400;
    height:auto;
}

#Link {
    color: #666;
    background-color: white;
    margin-left: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    overflow-x: hidden;
}

#Link:hover{
    color: orangered;
}

#small_link {
    color:rgb(88, 49, 23);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Garamond', serif;
    font-weight: bold;
}

#small_link:hover {
    color: orangered;
}

#profile_pic {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
    float: left;
    border: 5px double orangered;
    margin-left: 100px;
}

#username { 
    color: sienna;
    font-size: 40px;
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-decoration: wavy;
}

#short_desc {
    color: darkorange;
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-decoration: dotted;
    font-size: 35px;
    line-height: normal;
}

#small_p {
    font-size: 15px;
    color:#666;
    font-family: 'Montserrat', sans-serif;
    line-height: 0%;
}

#info {
    margin-left: 450px;
    margin-right: 100px;
    margin-top: 50px;
}

body {
    background: linear-gradient(120deg,#ffbc65, #fd9956);
}

#side_menu {
    margin-top: 10px;
    margin-left: 150px;
}

#activity {
    color: rgb(88, 49, 23);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

hr {
    border:none;
    border-top:5px dashed orangered;
    color:#fff;
    height:5px;
    width:80%;
    margin: auto;
}

#likes {
    text-align: center;
    color: orangered;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

#heart {
    font-size: 30px;
    color: tomato;
    position: relative;
}

#frown {
    font-size: 30px;
    color: rgb(88, 49, 23);
    position: relative;
}

#chicken{
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20;
    font-weight:bolder;
}

.logo{
    height: 100;
}

#input{
    height: 10;
    background: white;
    color: gray;
    padding: 10;
    width: 150;
}

.dash{
    margin-left: 15;
    font-size: 30;
    color: #666;
    background-color: white;
    font-family: 'Montserrat';
    text-decoration: none;
  }
  
  
.dash:hover{
  color: orangered;
}

#delete-acct {
    display:block;
    background-color: #f9f3e3;
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size: 20px;
    color:rgb(88, 49, 23);
    border: none;
}

#delete-acct:hover {
    color: orangered;
    cursor: pointer;
}

.chicken{
    max-height: 300;
    max-width: 250;
    height: auto;
    width: auto;
    margin: 0%;
    text-align: center;
}

.rec{
    height: 300;
    width: 250;
    margin-top: 20px;
    margin-left: 20px;
}

.cap{
    text-decoration: none;
    color: gray;
    background-color: transparent;
    font-weight: bold;
}

.cap:hover{
    color: orangered;
}

.search{
    background: rgba(255, 68, 0, 0.865);
    padding: 10;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}