@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
#page {
    margin-top: 125;
    margin-left: 100px;
    margin-right: 100px;
    background: #f7f7f7;
    background-repeat: no-repeat; 
    background-position: 1500 400;
    height: 1200;
}

#Link {
    color: #666;
    background-color: white;
    margin-left: 50px;

    text-decoration: none;
    text-align: center;
    font-size: 30px;
    overflow-x: hidden;
}

#Link:hover{
    color: orangered;
}

#small_link {
    color:rgb(88, 49, 23);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Garamond', serif;
    font-weight: bold;
}

#small_link:hover {
    color: orangered;
}

#profile_pic {
    height: 303px;
    width: 293px;
    float: left;
    border: 5px double orangered;
    margin-left: 100px;
    margin-top: 50px;
}

#username { 
    color: sienna;
    font-size: 40px;
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-decoration: wavy;
    line-height: 10mm;
}

#short_desc {
    color: darkorange;
    font-family: 'Garamond', serif;
    font-weight: bold;
    text-decoration: dotted;
    font-size: 30px;
    line-height: 10mm;
}

#small_p {
    font-size: 15px;
    color:#666;
    font-family: 'Montserrat', sans-serif;
    line-height: 0%;
}

#info {
    margin-left: 450px;
    margin-right: 100px;
    margin-top: 50px;
}

body {
    background: linear-gradient(120deg,#ffbc65, #fd9956);
}

#side_menu {
    margin-top: 10px;
    margin-left: 150px;
}

#activity {
    color: rgb(88, 49, 23);
    margin-left: 600px;
    font-size: 20px;
}

hr
{
    border:none;
    border-top:5px dashed orangered;
    color:#fff;
    height:5px;
    width:100%;
}

#likes {
    text-align: center;
    color: orangered;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

#heart {
    font-size: 30px;
    color: tomato;
    position: relative;
}

#chicken{
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

#liked_img {
    height: 300px;
    width: 200px;
}

#liked_img_wide {
    height: 300px;
    width: 300px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20;
    font-weight:bolder;
}

.logo{
    height: 100;
}

.whole{
    display: flex;
    background-color: white;
}
.search{
    background: rgba(255, 68, 0, 0.865);
    padding: 10;
    display: flex;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

#input{
    height: 10;
    background: white;
    color: gray;
    padding: 10;
    width: 150;
}

.dash{
    margin-left: 15;
      font-size: 30;
      color: #666;
      background-color: white;
      font-family: 'Montserrat';
      text-decoration: none;
  }
  
  
.dash:hover{
  color: orangered;
}

#delete-acct {
    display:block;
    background-color:#fd9956;
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size: 15;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid orange;
    color:rgb(71, 70, 70);
}

#delete-acct:hover {
    background-color: seashell;
    cursor: pointer;
}